
<div class="container">
    <div class="logo">
        <img src="../../assets/img/Chetana-Logo.svg" alt="">
    </div>
    <div class="form">
      <form [formGroup]="registerForm"  class="register-form" (ngSubmit)="registerProcess()">
        <input type="text" name="name" placeholder="Name" formControlName="name">
        <div *ngIf="registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)">
          <div *ngIf="registerForm.controls['name'].errors.required" class="pass">Name is required.</div>
        </div>


        <input type="email" id="email" name="email" placeholder="Email" formControlName="email">
        <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
          <div *ngIf="registerForm.controls['email'].errors.required"  class="pass">Email is required.</div>
          <div *ngIf="registerForm.controls['email'].errors.email"  class="pass">Invalid email registerFormat @ and .com should be there.</div>
        </div>



        <!-- div -->
        <input type="password" name="password" placeholder="Password" formControlName="password">
        <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
          <div *ngIf="registerForm.controls['password'].errors.required" class="pass">Password is required.</div>
        </div>

        
        <button type="submit" class="btn" >Submit</button>
       
        <!-- <p class="message">Already have account ? <a  (click)="login()">Login here</a></p> -->
      </form> 
      <p class="message">Already have account ? <a routerLink="/"  >Login here</a></p>
    </div>
  </div>